Source: gl4es
Section: video
Priority: optional
Maintainer: Madis Janson <madis@cyber.ee>
Build-Depends: debhelper (>= 10), dpkg-cross, cmake, libmali-rk-dev, libx11-dev
Standards-Version: 4.0.0
Homepage: https://github.com/ptitSeb/gl4es
Vcs-Git: https://github.com/ptitSeb/gl4es.git
Vcs-Browser: https://github.com/ptitSeb/gl4es

Package: gl4es
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${shlibs:Depends}, libegl1
Provides: libgl1, libgl1-dev, libgl1-mesa-glx, libgl1-mesa-dev
Replaces: libgl1-mesa-glx, libgl1-mesa-dev
Conflicts: libgl1-mesa-glx
Description: Library providing OpenGL 1.x functionality using OpenGL ES
 This is a fork a glshim (https://github.com/lunixbochs/glshim).
 The focus is on compatibility and speed with a wide selection of
 game and software.
 .
 It has been tested successfully of a large selection of games and software,
 including: Minecraft, OpenMW, SeriousSam (both First and Second Encounters),
 RVGL (ReVolt GL), TSMC (The Secret Maryo Chronicles), TORCS, SpeedDreams,
 GL-117, Foobillard(plus), Blender 2.68 to name just a few.
 .
 Most function of OpenGL up to 1.5 are supported, with some notable exceptions:
 * Reading of Depth or Stencil buffer will not work
 * GL_FEEDBACK mode is not implemented
